#link{
    font-size: .8rem;
}

#cont{
    min-height: 125.9vh;
    text-align: center;
    width: 100%;
}


#project{
    width: 50%
}
#strip{
    background-image: url("./banner.gif");
    background-size: cover;
    height: fit-content;
    padding: 4rem;
    width: 60rem;
    margin-left: -3rem;
    padding-right: 12rem;
    border: 2px inset rgba(199, 211, 212, 0.452);
}

.col1{
   width: 5rem;
   height: 10rem;
   margin: 3rem;
   margin-bottom: 6rem;
}


#proj{
    color:  #240c4b;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-style: bold;
    margin-bottom: 6rem;
}

#resume{
    width: 25rem;
    margin: 0  auto;
    border: .2rem inset rgba(199, 211, 212, 0.452);
    margin-bottom: 1rem ;
}

#banner{
    margin-bottom: 4rem;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: #240c4b9a ;
    color: white;
    transform: skewX(-5deg);

}
    
    .zoom {      
    -webkit-transition: all 0.95s ease-in-out;    
    -moz-transition: all 0.95s ease-in-out;    
    transition: all 0.89s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
 
    -ms-transform: scale(1.9);    
    -moz-transform: scale(1.9);  
    -webkit-transform: scale(1.9);  
    -o-transform: scale(1.9);  
    transform: scale(1.9);    
    position:relative;      
    z-index:100;  
    overflow: visible;
    }
    
 
  
    @media only screen and (max-width: 636px) {
        #projects {
            width: 100px;
            height: 100px;
            
            }
      }


.download{
    color:black
}


#top{
    background-color: rgb(199, 211, 212) ;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 15px;
}

#icons{
    width: 100px;
    height: 75px;
}

#title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}

#lang{
    width: fit-content;
}


