.wrapper {
    min-height: 80vh;
    max-height: 145vh;
    width: 50%;
    padding-bottom: 100px;
    background-color: rgb(229, 234, 235);
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media only screen and (max-width: 819px) {
    .wrapper {
      float: none;
      width: 100%;
    }
  }